{% extends "NoticeBoard/layout.html" %}

{% block body %}
<nav>
    <div class="heading">
        <div class="imageIcon"><img src="../../static/img/favicon.ico" style="width: 100%;" alt="noticeIcon"></div>
        <div class="title">
            <h4 style="margin: auto;">Campus Notice Board</h4>
        </div>
    </div>

    <ul class="nav-links">
        <li><a href="{% url 'home:index' %}">Home</a></li>
        <li><a href="{% url 'NoticeBoard:index' %}">Today</a></li>
        <li><a class="active" href="{% url 'NoticeBoard:past' %}">Earlier</a></li>
        <li><a href="{% url 'NoticeBoard:future' %}">Upcoming</a></li>
    </ul>
</nav>
{% endblock %}

{% block body2 %}
<div class="welcomemsg">
    <h3> Below mentioned are those events that had already happened.<br> In case you missed anyone, you can contact the
        respective group secretaries for recording and other necessary materials. </h3>
</div>


{% for nt in notice %}

{% if year > nt.year %}
<div class="notice">
    {{nt.organiser}} organised a lecture on {{ nt.topic }} at {{ nt.location }} on
    {{nt.day}}/{{nt.month}}/{{nt.year}} at {{ nt.time }}
</div>
{% endif %}
{% if year == nt.year %}
{% if month > nt.month %}
<div class="notice">
    {{nt.organiser}} organised a lecture on {{ nt.topic }} at {{ nt.location }} on
    {{nt.day}}/{{nt.month}}/{{nt.year}} at {{ nt.time }}
</div>
{% endif %}
{% endif %}
{% if year == nt.year %}
{% if month == nt.month %}
{% if day > nt.day %}
<div class="notice">
    {{nt.organiser}} organised a lecture on {{ nt.topic }} at {{ nt.location }} on
    {{nt.day}}/{{nt.month}}/{{nt.year}} at {{ nt.time }}
</div>
{% endif %}
{% endif %}
{% endif %}
{% endfor%}

<div class="sorryMsg">
    No Events Found!!!
</div>

{% endblock %}